#check_button{
    background-color: #E6B91E;
    border-color: #E6B91E;
    color: #000;
}

.imdb_style_button{
    background-color: #E6B91E;
    border-color: #E6B91E;
    color: #000;
}

#send_feedback_message_button{
    background-color: #E6B91E;
    border-color: #E6B91E;
    color: #000;
}